@font-face {
    font-family: Inter-Bold;
    src: url(../font/Inter-Bold.ttf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(../font/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-SemiBold;
    src: url(../font/Inter-SemiBold.ttf);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: #fff;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


/*
*
* ==========================================
* navbar start
* ==========================================
*
*/

.logo {
    width: 60%;
}

.navbar {
    padding: 0;
    z-index: 1;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    transition: all 200ms linear;
    position: relative;
    padding: 15px 0 !important;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-family: Inter-Regular;
    font-size: 17px;
    line-height: 22px;
    align-items: center;
    letter-spacing: 0.01em;
    color: #333333 !important;
}

.nav-item:hover .nav-link {
    color: #44B564 !important;
}

.nav-item.active .nav-link {
    color: #44B564 !important;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    content: "";
    background-color: rgb(68, 181, 100);
    opacity: 0;
    transition: all 200ms linear 0s;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}


/*
*
* ==========================================
* NAVBAR  End
* ==========================================
*
*/


/*
*
* ==========================================
* Hero Section start
* ==========================================
*
*/

#hero {
    /* width: 100%; */
    /* height: 100vh; */
    position: relative;
    background: #fff url("") center top no-repeat;
    background-size: cover;
}

.alert-header {
    font-weight: 500;
    /* font-size: 16px;*/
    font-size: calc(0.49em + 0.6vw);
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #FF0000;
    font-family: Inter-Medium;
    margin-bottom: -5px;
}

.alert-header img {
    margin-bottom: 4px;
    width: 20px;
    height: 36.57px;
}

#hero .intro-info h2 {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: calc(1.9em + 0.6vw);
    line-height: 56px;
    font-family: Inter-Bold;
    letter-spacing: 0.01em;
    color: #333333;
}

.header-tag-line {
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.7em + 0.6vw);
    font-family: Inter-Regular;
    align-items: center;
    letter-spacing: 0.01em;
    color: rgba(51, 51, 51, 0.65);
}

#hero .intro-info .btn-get-started {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: calc(0.7em + 0.6vw);
    display: inline-block;
    padding: 14px 30px;
    border-radius: 14px;
    color: rgb(255, 255, 255);
    background: rgb(68, 181, 100);
}

.header-virus {
    position: absolute;
    height: 218.42119783355207px;
    width: 224.87296463060278px;
    opacity: 0.8;
    left: -8.28%;
    right: 91.29%;
    top: 30.8%;
    bottom: 89.67%;
    transform: rotate(8.88deg);
}


/*
*
* ==========================================
* Hero Section end
* ==========================================
*
*/


/*
*
* ==========================================
* @MEDIA 991.98PX start
* ==========================================
*
*/

@media (max-width: 991.98px) {
    .nav-item:after {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav-item:after {
        display: none;
    }
    #hero .intro-img {
        width: 80%;
    }
    #hero .intro-info {
        text-align: center;
        padding-top: 40px;
    }
    #hero .intro-info h2 {
        margin-bottom: 30px;
    }
}


/*
*
* ==========================================
* @MEDIA 991.98PX end
* ==========================================
*
*/


/*
*
* ==========================================
* card section start
* ==========================================
*
*/

.cardss {
    text-align: center;
    border: none;
    background: #FFFFFF;
    box-shadow: rgb(119 119 119 / 12%) 0px 0px 50px -6px;
    border-radius: 24px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
    border: none;
}

.cards .card-body .title {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    /* font-size: 20px; */
    font-size: calc(0.70em + 0.6vw);
    color: #555555;
    margin-bottom: 5px;
}

.cards .card-body .number {
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: 600;
    /* font-size: 28px; */
    font-size: calc(1em + 0.6vw);
    letter-spacing: 0.03em;
    color: #484848;
    margin-bottom: 5px;
}

.cards .card-body .percentage {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    /* font-size: 18px; */
    font-size: calc(0.5em + 0.6vw);
    color: #777777;
}

.card-tag-line {
    justify-content: center;
    display: flex;
    align-items: center;
}

.card-tag-line img {
    width: 25px;
    height: 22px;
    cursor: pointer;
    margin-right: 12px;
}

.card-tag-line span {
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    /* font-size: 18px; */
    font-size: calc(0.5em + 0.6vw);
    align-items: center;
    color: #777777;
}

.card-tag-line .country {
    margin-right: 5px;
}

.card-tag-line .separator {
    margin-right: 5px;
}

.card-tag-line .title {
    margin-right: 4px;
}


/*
*
* ==========================================
* card section end
* ==========================================
*
*/


/*
*
* ==========================================
* what we do section start
* ==========================================
*
*/

.what-we-do {
    font-family: Inter-Medium;
}

.what-we-do .what-we-do-virus {
    position: absolute;
    opacity: 0.5;
    right: 0;
    top: 1032px;
}

.what-we-do-right .heading {
    font-family: Inter-SemiBold !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 33px !important;
    letter-spacing: 0.02em;
    color: #333333;
}

.what-we-do-right hr.what-we-do-hr {
    background-color: #41a9c6;
    width: 140px;
    border: 2px solid #64CF83;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.what-we-do-right p {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #555555;
}

.what-we-do ul {
    list-style: none;
    padding-left: 0;
}

.what-we-do-right ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.what-we-do-right ul li img {
    height: 29px;
    width: 29px;
    border-radius: 0px;
}

.what-we-do-right ul li .line {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #555555;
}


/*
*
* ==========================================
* what we do section end
* ==========================================
*
*/


/*
*
* ==========================================
* what we do and contact us btn style start
* ==========================================
*
*/

.btn-default {
    margin-top: 31px;
}

.btn-default a,
.btn-default2 p {
    text-decoration: none;
    color: inherit;
    font-family: "Louis-George-Cafe-Bold.ttf";
}

.btn-default a.cta,
.btn-default2 p.cta {
    position: relative;
    margin: auto;
    padding: 14px 12px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-default a.cta:hover::before,
.btn-default2 p.cta:hover::before {
    width: 108%;
    background: rgb(68, 181, 100);
}

.btn-default a.cta:hover svg,
.btn-default2 p.cta:hover svg {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    stroke: #fff;
}

.btn-default a.cta:hover span,
.btn-default2 p.cta:hover span {
    color: #fcfaff !important;
}

.btn-default a.cta::before,
.btn-default2 p.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    border-radius: 30px;
    background: rgba(255, 73, 82, 0);
    border: 2px solid rgb(68, 181, 100);
    border-right: 1px solid transparent;
    border-width: 2px 2px 2px 2px;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-default a.cta span,
.btn-default2 p.cta span {
    position: relative;
    font-family: Inter-Medium;
    line-height: 0.56;
    vertical-align: middle;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #444444;
}

.btn-default a.cta svg,
.btn-default2 p.cta svg {
    position: relative;
    top: 0px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #444444;
    stroke-width: 2;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-default a.cta:active,
.btn-default2 p.cta:active {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
}


/*
*
* ==========================================
* what we do and contact us btn style end
* ==========================================
*
*/


/*
*
* ==========================================
* prevention section  start
* ==========================================
*
*/

.prevention .heading {
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    letter-spacing: 0.02em;
    color: #333333;
}

.prevention hr.preventionhr {
    background-color: #41a9c6;
    width: 115px;
    border: 2px solid #64CF83;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.prevention .tagline {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #777777;
}

.prevention .card-detail {
    padding-top: 19px;
}

.prevention .card-detail .card-title {
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #333333;
}

.prevention .card-detail .card-line {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: Inter-Medium;
    letter-spacing: 0.01em;
    color: #777777;
    padding-right: 14px;
    padding-left: 15px;
}

.prevention .prevention-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.1);
    border-radius: 25px;
    border: none;
    margin-top: 90px;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.prevention .prevention-card img {
    margin-top: -45px;
}

.prevention .px-22 {
    padding-left: 25px;
    padding-right: 25px;
}


/*
*
* ==========================================
* prevention section  end
* ==========================================
*
*/


/*
*
* ==========================================
* symptoms section  start
* ==========================================
*
*/

.symptoms .heading {
    font-family: Inter-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    letter-spacing: 0.02em;
    color: #333333;
}

.symptoms hr.symptomshr {
    background-color: #41a9c6;
    width: 115px;
    border: 2px solid #64CF83;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.symptoms .tagline {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #777777;
}

.symptoms .symptoms-virus-left {
    width: 251px;
    height: 236px;
    left: -17px;
    top: 2613px;
    position: absolute;
}

.symptoms .symptoms-virus-right {
    position: absolute;
    width: 172.09px;
    height: 164px;
    right: 58px;
    top: 2828px;
}


/*
*
* ==========================================
* symptoms section  end
* ==========================================
*
*/


/*
*
* ==========================================
* Need help section  start
* ==========================================
*
*/

.need-help {
    background: linear-gradient(339.88deg, #64CF83 47.7%, #FFFFFF 47.71%);
}

.need-help .cards-need-help {
    background: #FFFFFF;
    box-shadow: 0px 29px 0px -14px #5BC378, 0px 52px 0px -24px #4DB76B, 0px 0px 50px -1px rgba(82, 82, 82, 0.1);
    border-radius: 40px;
    border: none;
    padding: 25px 30px 50px 30px
}

.need-help .heading {
    font-family: Inter-SemiBold !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 33px !important;
    letter-spacing: 0.02em;
    color: #333333;
}

.need-help hr.need-help-hr {
    background-color: #41a9c6;
    width: 115px;
    border: 2px solid #64CF83;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.need-help .tagline {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #777777;
}

.need-help .emp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.need-help .emp img {
    width: 30px;
    height: 32.76px;
    margin-right: 15px;
}

.need-help .emp .name,
.need-help .emp .number {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: #555555;
}

.need-help .pt {
    margin-top: 85px;
}


/* form */

.need-help .filds .form-control {
    padding-left: 20px;
    padding-right: 62PX;
    margin-bottom: 7px;
}

.need-help .filds .form-control-feedback {
    position: absolute;
    right: 40px;
    top: 15px;
    display: block;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.need-help .filds input {
    background: #F7F7F7;
    border-radius: 12px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #333 !important;
    font-family: Inter-Medium;
    border: none;
}

.form-control:focus {
    outline: 0;
    box-shadow: none
}

 ::-webkit-input-placeholder {
    /* Edge */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-family: Inter-Medium;
    color: #777777;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: normal;
    font-weight: normal;
    font-family: Inter-Medium;
    font-size: 18px;
    color: #777777;
}

 ::placeholder {
    font-style: normal;
    font-weight: normal;
    font-family: Inter-Medium;
    font-size: 18px;
    color: #777777;
}


/* input type=number arrow up down */


/* Chrome, Safari, Edge, Opera */

.number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

.number input[type=number] {
    -moz-appearance: textfield;
}

.need-help .filds .form-control-feedback .comment {
    position: absolute;
    right: -1px;
    top: -3px;
    display: block;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.need-help .filds textarea {
    background: #F7F7F7;
    border-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #333 !important;
    font-family: Inter-Medium;
    border: none;
}

.need-help .filds textarea:focus {
    outline: none;
}


/* Hide scrollbar but keep functionality */


/* Hide scrollbar for Chrome, Safari and Opera  */

textarea::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

textarea {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.btn-default2 {
    margin-top: 15px;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
    background-color: #fff;
    box-sizing: none;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border: none;
}


/*
*
* ==========================================
* Need help section  end
* ==========================================
*
*/


/*
*
* ==========================================
* footer section  start
* ==========================================
*
*/

.footer {
    background-color: #64CF83;
}

.footer .left p {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    margin-left: 15px;
}

.footer .right {
    font-family: Inter-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF !important;
    padding-right: 35px;
}

.footer .right img {
    width: 19px;
    height: 20px;
}


/*
*
* ==========================================
* footer section  end
* ==========================================
*
*/


/*
*
* ==========================================
* Custom Scrollbar  start
* ==========================================
*
*/

::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    margin: 3px 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border: none;
    box-shadow: none;
    background: #bdc1c6;
    border-radius: 4px;
    min-height: 40px;
}


/* Handle on hover */

:hover::-webkit-scrollbar-thumb {
    background: #dadce0;
}


/*
*
* ==========================================
* Custom Scrollbar  start
* ==========================================
*
*/